@model Project2.Models.GalleryDetailModel

<div class="=container body-content">
    <div class="row image-detail-container">
        <div class="image-detail">
            <img src="@Model.Url" alt="@Model.Title" Resize(width="300" , height="300" , preserveAspectRatio:true, preventEnlarge:true), 
                 style= "float: left; margin-right: 10px; margin-bottom : 10px;"/>
            <div class="image-detail">
                <span>Title: @Model.Title</span>
            </div>
            <div class="image-detail">
                <span>CreatedOn: @Model.CreatedOn</span>
            </div>
            <div class="image-detail">
                <span>Geolocation: @Model.Geolocation</span>
            </div>
            <div class="image-detail">
                <span>Tags: @Model.Tags</span>
            </div>
        </div>
    </div>
    
    <div class="row controls">
        <a class="btn btn-warning" asp-controller="Gallery" asp-action="Edit">
            Edit details
        </a>
    </div>    
    <div class="row controls">
        <a class="btn btn-primary" asp-controller="Gallery" asp-action="Index">
            Back to Gallery
        </a>
    </div>
    
</div>
